<html>
    <body>
        <h3>Edition de la formation {{ entity.getName() }}</h3>
        {{ form_start(form, {'action': path('validate_edit_formation', {'id': entity.getId()}) }) }}
        {{ form(form) }}
    </body>
</html>